[submodule "ogg"]
	path = codec/ogg
	url = https://github.com/xiph/ogg.git
[submodule "opus"]
	path = codec/opus
	url = https://github.com/xiph/opus.git
[submodule "opusfile"]
	path = codec/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "openal-soft"]
	path = backend/openal
	url = https://github.com/kcat/openal-soft.git
